{% if settings.enable_end_year_sale %}
<main class="{{page.title | handle }} a-end-of-year-sale merged-page-template">
  {% include 'breadcrumb' %}
  {% section 'end-of-year-sale' %}
  {% include 'join-the-crew' %}
  {% section 'newsletter-section' %}
</main>
<style>
  #home-ups-bar{padding:0 !important;}
  .shipping-bar-template .main-text_heading{color:#000;}
  .shipping-bar-template .main-text_heading small{display:block;}
</style>


<iframe
src="https://asia.creativecdn.com/tags?id=pr_xplitdU3nLQ7IK7KFYpl&amp;ncm=1"
width="1" height="1" scrolling="no" frameBorder="0" style="display: none;"></iframe>
{% endif %}

