<div class="swell-reward-TWL">
  <div class="referral-section">
    <div class="swell-referral-content">
      <div class="swell-referral-holder logged-in">
        <div class="swell-referral-loader">
         <img src="{{ 'swell-loader.svg' | asset_url }}" >
        </div>
        <div class="swell-referral">
        </div>
      </div>
      <div class="redeem-holder">
        <div class="refer-details">
          <div class="swell-section-content">
            <div class="swell-section-heading">
              <h2>Your Referrals</h2>
            </div>
            <div class="table-classes">
              <div class="table-responsive">
                <table class="swell-referral-table">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody class="table-data">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="heading-area">
          <div class="heading-holder">
            <h4>BALANCE: $<span class="swell-calculated-dollar-balance"></span></h4>
            <a href="/checkout">REDEEM NOW</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>