{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.product_description' %}
  {% include 'custom_fields.products.product_image_1' %}
  {% include 'custom_fields.products.product_title_1' %}
  {% include 'custom_fields.products.product_image_2' %}
  {% include 'custom_fields.products.product_title_2' %}
  {% include 'custom_fields.products.product_image_3' %}
  {% include 'custom_fields.products.product_title_3' %}
  {% include 'custom_fields.products.product_image_4' %}
  {% include 'custom_fields.products.product_title_4' %}
  {% include 'custom_fields.products.product_image_5' %}
  {% include 'custom_fields.products.product_title_5' %}
  {% include 'custom_fields.products.product_image_6' %}
  {% include 'custom_fields.products.product_title_6' %}
  {% include 'custom_fields.products.size_chart_image' %}
  {% include 'custom_fields.products.size_guide_description' %}
  {% include 'custom_fields.products.text_under_add_to_cart_button' %}
  {% include 'custom_fields.products.fit__care' %}
  {% include 'custom_fields.products.faq' %}
</div>