<div class="search-box-nav">
    <div class="header-search-section-nav">
    <form action="/search" method="get" id="header-quick-search-desk" role="search">
        <div class="search-sec">
        <input isp_search_box class="search__input search-bar__input search-header__input search-header__input-custom "
            type="search"
            name="q"             
            placeholder="{% if settings.search_title == blank %}Search products{% else %}{{ settings.search_title }}{% endif %}"
            aria-label="{{ 'general.search.placeholder' | t }}">
        <button class="search-header__submit search__submit btn--link" type="submit">
        <img src="{{ 'search.png' | asset_url }}" class="icon-search">
        <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
        
        </div>
    </form>
    </div>
</div>