<div class="mob-sort-by-panle">
    <div class="close-tab">
       {% include 'icon-close' %}
    </div>
    <div class="panel--sec">
        <div class="panel-header">
            <h2>sort by</h2>
        </div>
        <div class="panle-body">
            <ul class="nav">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <li {% if sort_by == "price-descending" %} class="selected"{% endif %}><a href="?sort_by=price-descending">Price: High to Low</a></li>
                <li {% if sort_by == "price-ascending" %} class="selected"{% endif %}><a href="?sort_by=price-ascending">Price: Low to High</a></li>
                <li {% if sort_by == "title-ascending"  %}class="selected"{% endif %}><a href="?sort_by=title-ascending">A to Z</a></li>
                <li {% if sort_by == "title-descending" %} class="selected"{% endif %}><a href="?sort_by=title-descending">Z to A</a></li>
                <li {% if sort_by == "created-descending" %} class="selected"{% endif %}><a href="?sort_by=created-descending">New in</a></li>
          </ul>
        </div>
    </div>
</div>

<script>
   $(document).ready(function(){
       $(".gf-sort-mob-tree").click(function(){
         $(".mob-sort-by-panle").addClass("sort__opend");
         $(".full-collection-contents").addClass("open--sort_slider");
         $(".full-collection-contents-bg").show();
       });

       var $win = $(".full-collection-contents-bg");
       var $content = $(".gf-sort-mob-tree");
       $win.on("click.Bst", function(event){        
           if ( $content.has(event.target).length == 0 && !$content.is(event.target) ) {
               $(".mob-sort-by-panle").removeClass("sort__opend");
               $(".full-collection-contents").removeClass("open--sort_slider");
               $(".full-collection-contents-bg").hide();
           }
       });

       $('.mob-sort-by-panle .close-tab').click(function(){
           if ( $content.has(event.target).length == 0 && !$content.is(event.target) ) {
               $(".mob-sort-by-panle").removeClass("sort__opend");
               $(".full-collection-contents").removeClass("open--sort_slider");
               $(".full-collection-contents-bg").hide();
           }
       });
   })
</script>