<div class="visely-widget-container page-width">
  <h3 class="visely-recommendations-title" data-visely-widget-title-element="TRENDING_NOW"></h3>
  <div class="trending-now visely-widget-wrapper" data-visely-recommendation-type="TRENDING_NOW">
    {% include 'visely-recommendation-item-template' %}
    <div class="visely-pagination" data-visely-pagination></div>
  </div>
</div>
<script>document.dispatchEvent( new CustomEvent('viselyWidgetInit', {detail: { widgetType: 'TRENDING_NOW' }}));</script>
