<div class="popup-cart visely-widget-container">
  <h3 class="visely-recommendations-title" data-visely-widget-title-element="POPUP_CART_TRENDING_NOW"></h3>
  <div class="trending-now visely-widget-wrapper" data-visely-recommendation-type="POPUP_CART_TRENDING_NOW">
    {% include 'visely-recommendation-item-template' %}
    <div class="visely-pagination" data-visely-pagination></div>
  </div>
</div>
